<div class="modal-header">
  <h4 class="modal-title">Suggested duplicated people</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div
    *ngIf="loading"
    class="mr-auto ml-auto mt-3 mb-3 d-block spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <table *ngIf="!loading"
         class="table">
    <thead>
    <th>Emails</th>
    <th>Match</th>
    </thead>
    <tbody>
    <tr *ngFor="let duplicated of similarEmails">
      <td>{{duplicated.first}}</td>
      <td>{{duplicated.second}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>
