<div class="container">
  <h1 class="text-center m-4">People</h1>
  <div
    *ngIf="tableState.loading"
    class="spinner-border d-block m-auto"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div
    *ngIf="!tableState.loading"
    class="card">
    <div class="card-body">
      <div class="row mb-1">
        <div class="col-6">
          <button type="button" class="btn btn-info w-100" (click)="openFrequencyCountModal()">Frequency count</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-dark w-100" (click)="openDuplicatedPeopleModal()">Duplicated people
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th *ngFor="let column of tableState?.columns">{{column}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of people">
          <td>{{person.fullName}}</td>
          <td>{{person.email_address}}</td>
          <td>{{person.title}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
