app-login {

  .logo {
    width: 180px;
  }

  h4.login-text {
    color: grey;
    margin-bottom: 15px;
  }

  .home-container {
    height: 100%;
    background: #007bff !important;
    text-align: center;

    h1 {
      font-family: 500 2.4444444444rem/1.3636363636 "Barlow", sans-serif;
      color: white;
    }
  }

  .button.access-button {
    border: white 1px solid;
    background: transparent;
  }
}
